@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #111315;
}

::-moz-selection {
  background-color: #bee3cc;
  color: #111315;
}
::selection {
  background-color: #bee3cc;
  color: #111315;
}
.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
.bg_img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.card_cont {
  background-color: #1b1d1f;
  border-radius: 10px;
  padding: 2rem;
  margin-top: -150px;
  position: relative;
  margin-bottom: 150px;
}
@media (max-width: 991px) {
  .card_cont {
    margin-top: -100px;
    margin-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .card_cont {
    margin-top: -70px;
    margin-bottom: 70px;
  }
}
.card_count_head {
  padding-top: 2rem;
  text-align: center;
  width: max(400px, 50%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.5;
  font-weight: 500;
}
.card_count_head .svg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}
.card_count_head h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fef7ee;
  position: relative;
  z-index: 10;
}
.card_count_head p {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #6f757c;
  position: relative;
  z-index: 10;
}
.btns {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.card_count_head button {
  border: none;
  padding: 0.5rem 0.75rem;
  color: #fef7ee;
  border-radius: 5px;
  font-weight: bold;
  background-color: #1b1d1f;
  cursor: pointer;
  transition-duration: 0.3s;
}
.card_count_head button.active {
  background-color: #6f757c;
}
.card_count_head button:hover {
  background-color: #8a939c;
}
.card_count_head button:active {
  transform: scale(0.97);
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card {
  padding: 3rem;
}
.card .img {
  position: relative;
}
.card .img img {
  height: 200px;
  width: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .card .img img {
    width: 100%;
  }
}
.card .img small {
  position: absolute;
  background-color: #f6c768;
  color: #111315;
  font-size: 10px;
  padding: 5px 7.5px;
  border-radius: 10px;
  left: 5%;
  top: 5%;
}
.card .detail {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 10px;
}
.card .detail > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.card .detail > div:nth-child(1) {
  align-items: start;
}
.card .detail > div:nth-child(2) {
  align-items: end;
}
.card .detail > div :is(h2, p):not(:is(.price)) {
  color: #fef7ee;
}
.card .detail h2 {
  font-size: 1rem;
  text-transform: capitalize;
}
.card .detail .rate {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}
.card .detail .rate p {
  font-size: 14px;
}
.card .detail .rate small {
  color: #6f757c;
}
.card .detail .price {
  font-size: 12px;
  padding: 5px 7.5px;
  color: #111315;
  background-color: #bee3cc;
  border-radius: 5px;
  font-weight: bold;
}
.detail > div:nth-child(2) p:nth-child(2) {
  color: #ed735d;
  font-weight: bold;
  font-size: 14px;
}
p.error {
  color: #ed735d;
  text-align: center;
  margin-top: 2rem;
}
p.loading {
  color: #bee3cc;
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}
